<div class="flex flex-col space-y-8">
  <h1 class="text-5xl">Threema history checker</h1>

  <%!-- <.live_component module={MihainatorWeb.UserComponent} id="user" /> --%>
  <%= if @has_result == false do %>
    <.live_component module={MihainatorWeb.FileInputComponent} id="file-input" />
  <% else %>
    <.live_component
      module={MihainatorWeb.ResultComponent}
      id="result"
      calendar_dates={@calendar_dates}
    />
  <% end %>
</div>
