@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* This file is for your main application CSS */
.calendar-wrapper {
    display: flex;
    position: absolute;
    width: 80vw;
    flex-wrap: wrap;
    left: 10%;
    top: 400px;
}

/* Taken from https://codepen.io/alvarotrigo/pen/xxYVrmK */
.days>span {
    width: 50px;
}

.dates {
    button {
        cursor: pointer;
        outline: 0;
        border: 0;
        font-size: 16px;
        justify-self: center;
        align-self: center;
        width: 50px;
        height: 50px;
        border-radius: 50px;
        margin: 2px;
        transition-duration: .2s;

        &:hover {
            background: #eee;
        }
    }
}